nav {
    background: #007eb6;
    width: 100%;
    transition: all 0.5s;
    z-index: 1;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2.5rem;
}

nav li {
    flex: 1;
    text-align: center;
}

nav a {
    text-decoration: none;
    display: inline-block;
    color: white;
}

.logo {
    max-width: 0;
    overflow: hidden;
    background: white;
}

.logo img {
    padding-top: 0.25rem;
    width: 2.5rem;
}
